h3
{
margin-top: 20px;
margin-bottom:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#display_name
{
    font-weight: bold;
}
#submit_btn
{
    margin-top: 20px;
    margin-bottom:20px;
}
#sort_btn
{
    display:none;
    margin-top: 20px;
    margin-bottom:20px;
}
input
{
margin: 10px
}